html {
    background-image: radial-gradient(white, #00b8e6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
h1,h2 {
    font-family: cursive;
}
p {
    font-size: 140%;
}
nav {
    font-size: 120%;
}
li {
    text-align: left;
    font-size: 130%;
}
input {
    font-size: 100%;
}
textarea {
    width: 45%;
    height: 140px;
    font-size: 100%;
}
input:invalid {
    border: 3.5px solid maroon;
    border-radius: 3px;
}
input:valid {
    border: 3.5px solid green;
    border-radius: 3px;
}
label {
    margin-top: 1%;
    margin-bottom: 1%;
}
.grid {
	display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto auto;
}
.img-border {
    border: solid;
    border-color: black;
    border-radius: 10px;
    width: 295px;
}
.sticky {
    position: fixed;
    top: 0;
}
.linkMargin {
    margin-left: 2%;
    margin-right: 2%;
    width: 130px;
}
#navbar {
    background-color: white;
    font-family: arial;
    border: solid;
    border-color: black;
    border-radius: 6px;
    padding: 1%;
    margin-left: 11%;
    margin-right: 11%;
}
#nav {
    padding-left: 2%;
    padding-right: 2%;
    color: black;
}